[submodule "booking"]
	path = booking
	url = https://github.com/jakestreb/booking
[submodule "fluxteq"]
	path = fluxteq
	url = https://github.com/jakestreb/fluxteq.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/jakestreb/gateway.git