body {
	font-size: 1.1rem;
	width: 100%;
	height: 100%;
	font-family: "Geneva";
	font-weight: bold;
	margin: 0;
	background-color: #AEE2C0;
}

#prompt_container {
	text-align: center;
	margin: 20px 0;
}

#name_container {
	display: none;
}

#submit_container {
	display: none;
}

#guessed_container {
	display: none;
}

#watch_container {
	display: inline-block;
	width: 100%;
}

#settings_container {
	text-align: center;
	margin: 20px 0;
}

#responses {
	display: inline-block;
	float: left;
}

.response {
	position: relative;
	margin: 8px 5px;

}

.response_content {
	color: black;
	background-color: #FFFFEE;
	padding: 20px;
	border-radius: 3px;
	border-bottom-right-radius: 0;
	width: 200px;
	word-wrap: break-word
}

.response_triangle {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFFFEE;
	border-left: 10px solid #FFFFEE;
	margin-right: -20px;
}

.response_content.guessed {
	text-decoration: line-through;
	color: #CCCCBB;
}

#players {
	display: inline-block;
	float: right;
}

.player {
	border: 1px solid black;
	border-radius: 2px;
	padding: 6px;
	margin: 5px;
	width: 120px;
	height: 20px;
	font-size: 1.0rem;
}

.player.current_user {
	border-color: blue;
}

.remove {
	display: none;
	float: left;
	font-size: 0.8rem;
	margin-bottom: 4px;
	margin-right: 6px;
}

.remove:hover {
	cursor: pointer;
}

.name {
	float: left;
}

.ready {
	font-size: 0.7rem;
	float: right;
}

button {
	padding: 10px;
	border: none;
	background-color: white;
	height: 50px;
	font-size: 0.9rem;
	font-family: "Geneva";
	outline: none;
}

button:hover {
	background-color: #DDDDDD;
	cursor: pointer;
}

textarea {
	resize: none;
	width: 200px;
	height: 50px;
	outline: none;
	border: none;
	padding: 0;
	vertical-align: bottom;
	font-size: 0.85rem;
}

input {
	width: 200px;
	height: 50px;
	outline: none;
	border: none;
	padding: 0;
	vertical-align: bottom;
	font-size: 1.6rem;
}
