#game_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FF6E6E;
}

#main_content_trim {
  margin: 0 auto;
  border: 50px solid transparent;
  border-top: 30px solid #FF6E6E;
}

.flexy {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-transition: flex-grow .5s ease, -webkit-box-flex .5s ease;
  transition: flex-grow .5s ease, -webkit-box-flex .5s ease;
  transition: flex-grow .5s ease;
  transition: flex-grow .5s ease, -webkit-box-flex .5s ease, -ms-flex-positive .5s ease;
}

#header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 5px;
}

#header_name {
  display: inline-block;
  height: 100%;
  color: white;
  font-size: 1.1rem;
  padding-left: 8px;
  line-height: 30px;
  font-weight: 500;
}

#header_host {
  display: inline-block;
  font-size: 1.1rem;
  line-height: 30px;
  color: #FFB9B9;
}

#header_game {
  display: inline-block;
  height: 100%;
  font-size: 1.1rem;
  padding-left: 2px;
  color: #FFB9B9;
}

#prompt_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#questions {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

#begin {
  font-size: 2.5rem;
}

#scoring_container,
#guessed_container,
#begin_container,
#submit_container {
  text-align: center;
}

#settings {
  float: right;
  margin: 8px;
  color: white;
}
#settings:hover {
  color: #FFB9B9;
  cursor: pointer;
}

.alert_backdrop {
  background-color: #444;
}

.alert {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  text-align: center;
}

.alert_text {
  margin: 300px auto 20px auto;
}
.alert_button {
  margin: 0 auto;
}
