
#players {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
      justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.player_menu {
  position: absolute;
  top: 2px;
  right: -14px;
  font-size: 0.8rem;
  color: #BBB;
}
.player_menu:hover {
  color: black;
  cursor: pointer;
}

.body {
  display: inline-block;
  margin: 35px 0;
  width: 50px;
  height: 75px;
}

.head {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0 15px;
}

.torso {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin: 5px 0;
}

.score_adjuster {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  height: 20px;
  width: 60px;
  color: #555;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.minus {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  line-height: 20px;
  text-align: center;
}
.score_adjustment {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 20px;
  line-height: 22px;
  font-size: 0.9rem;
  text-align: center;
}
.plus {
  position: absolute;
  font-size: 0.9rem;
  height: 20px;
  width: 20px;
  right: 0;
  line-height: 20px;
  text-align: center;
}

.minus:hover,
.plus:hover {
  background-color: #DDD;
}

.left_out {
  -webkit-animation: left 0.8s linear;
          animation: left 0.8s linear;
  margin-left: -70px;
}
.left_in {
  -webkit-animation: left 0.8s linear;
          animation: left 0.8s linear;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  margin-left: 0;
}

.right_out {
  -webkit-animation: right 0.8s linear;
          animation: right 0.8s linear;
  margin-left: 70px;
}
.right_in {
  -webkit-animation: right 0.8s linear;
          animation: right 0.8s linear;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  margin-left: 0;
}

@-webkit-keyframes left {
  0% {  margin-left: 0; margin-top: 34px; }
  20%  {  margin-left: -24px; margin-top: 37px; }
  40%  {  margin-left: -48px; margin-top: 34px; }
  60%  {  margin-left: -72px; margin-top: 36px; }
  80%  {  margin-left: -96px; margin-top: 33px; }
  100%   {  margin-left: -120px; margin-top: 35px; }
}

@keyframes left {
  from {  margin-left: 0; margin-top: 34px; }
  20%  {  margin-left: -24px; margin-top: 37px; }
  40%  {  margin-left: -48px; margin-top: 34px; }
  60%  {  margin-left: -72px; margin-top: 36px; }
  80%  {  margin-left: -96px; margin-top: 33px; }
  to   {  margin-left: -120px; margin-top: 35px; }
}

@-webkit-keyframes right {
  0% {  margin-left: 0; margin-top: 34px; }
  20%  {  margin-left: 24px; margin-top: 37px; }
  40%  {  margin-left: 48px; margin-top: 34px; }
  60%  {  margin-left: 72px; margin-top: 37px; }
  80%  {  margin-left: 96px; margin-top: 34px; }
  100%   {  margin-left: 120px; margin-top: 35px; }
}

@keyframes right {
  from {  margin-left: 0; margin-top: 34px; }
  20%  {  margin-left: 24px; margin-top: 37px; }
  40%  {  margin-left: 48px; margin-top: 34px; }
  60%  {  margin-left: 72px; margin-top: 37px; }
  80%  {  margin-left: 96px; margin-top: 34px; }
  to   {  margin-left: 120px; margin-top: 35px; }
}

.frame {
  position: relative;
  margin: 0 20px;
}

.frame_content {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  overflow: hidden;
  background: #FDFDFD;
  border: 1px solid #BBB;
}

.frame_oval {
  width: 76px;
  height: 90px;
  border-radius: 38px / 45px;
}
.frame_oval:after {
  width: 78px;
  height: 92px;
  left: -1px;
  top: 0;
  content: '';
  box-shadow: inset 0 -3px 0 2px rgba(0, 0, 0, 0.12);
  position: absolute;
  border-radius: 38px / 45px;
}

.frame_square {
  width: 80px;
  height: 80px;
}
.frame_square:after {
  width: 82px;
  height: 88px;
  left: -1px;
  top: -4px;
  content: '';
  box-shadow: inset 0 -4px 0 2px rgba(0, 0, 0, 0.12);
  position: absolute;
  border-radius: 30px / 5px;
}

.frame_rect {
  width: 70px;
  height: 95px;
}
.frame_rect:after {
  width: 72px;
  height: 103px;
  left: -1px;
  top: -4px;
  content: '';
  box-shadow: inset 0 -4px 0 2px rgba(0, 0, 0, 0.12);
  position: absolute;
  border-radius: 30px / 5px;
}

.plaque {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 24px;
  height: 18px;
}

.nametag {
  position: relative;
  top: 0;
  height: 14px;
  padding: 2px 5px;
  min-width: 50px;
  background-color: #DDD;
  box-shadow: inset 0 0 0 1px #CCC;
}

.sign {
  position: absolute;
  width: 30px;
  height: 35px;
  bottom: -40px;
  left: 25px;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  background-color: #FBFBFB;
  border: 1px solid #E0E0E0;
  -webkit-transition: bottom .25s;
  transition: bottom .25s;
}
.sign.lifted {
  bottom: -10px;
}
.sign.unlifted {
  /* Hacky way of hiding/reverting signs during/after movement */
  bottom: -40px !important;
}
.sign.center {
  left: 25px;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}
.sign.left {
  left: 15px;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.sign.right {
  left: 30px;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.sign_content {
  font-size: 1.6rem;
  font-weight: 700;
  color: #555;
}

.player_name {
  -webkit-transition: opacity 1.4s;
  transition: opacity 1.4s;
  opacity: 1.0;
  color: black;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  cursor: default;
  white-space: nowrap;
}

.banner_left_fold {
  position: absolute;
  top: -1px;
  border-top: 1px solid #BBB;
  border-left: none;
  border-bottom: none;
  border-right: 2px solid #999;
}

.banner_left_fringe {
  position: absolute;
  top: -1px;
  left: -6px;
  border-top: 9px solid #BBB;
  border-bottom: 9px solid #BBB;
  border-right: 3px solid #BBB;
  border-left: 3px solid transparent;
}

.banner_right_fold {
  position: absolute;
  top: -1px;
  right: 0;
  border-top: 1px solid #BBB;
  border-right: none;
  border-bottom: none;
  border-left: 2px solid #999;
}

.banner_right_fringe {
  position: absolute;
  top: -1px;
  right: -6px;
  border-top: 9px solid #BBB;
  border-bottom: 9px solid #BBB;
  border-right: 3px solid transparent;
  border-left: 3px solid #BBB;
}
