<html>
  <div id="game_content">
    <div id="header">
      <div id="header_name" data-bind="text: playerName"></div>
      <div id="header_game" data-bind="text: gameName"></div>
    </div>
    <div id="questions" class="flexy">
      <div class="timer" data-bind="visible: poll.allowVoting">
        <div class="timer_shadow"></div>
        <pie class="left_half" data-bind="style: { backgroundImage: poll.leftHalfGradient }"></pie>
        <pie class="slice" data-bind="style: { backgroundImage: poll.sliceGradient }"></pie>
        <pie class="mask_slice"></pie>
      </div>
      <div id="choices" data-bind="foreach: poll.choices">
        <div class="choice_container" data-bind="css: label">
          <div class="choice_label" data-bind="text: label"></div>
          <div class="choice" data-bind="text: text"></div>
          <div class="votes"></div>
        </div>
      </div>
    </div>
    <div id="responses" class="flexy" data-bind="foreach: responses.responses, visible: state() === State.GUESS">
      <div class='response'>
        <div class='response_quotes'>
          <div class='response_content' data-bind="text: response, css: { eliminated: eliminated }"></div>
        </div>
      </div>
    </div>
    <div id="players" class="flexy" data-bind="foreach: players.frames">
      <div class='frame' data-bind="css: 'frame_' + rank">
        <div class='frame_content'>
          <div class='body' data-bind='style: { opacity: player() ? (player().asleep ? "0.2" : "1.0") : "0.0" }, css: moving, visible: !empty()' >
            <div class='head' data-bind='style: { backgroundColor: player() ? player().color : "white" }'></div>
            <div class='torso' data-bind='style: { backgroundColor: player() ? player().color : "white" }'></div>
          </div>
          <div class='sign' data-bind='css: player() ? player().signPosition : "", css: { lifted: player() ? player().info : "" }'>
            <div class='sign_content' data-bind='text: player() ? player().info : ""'></div>
          </div>
        </div>
        <div class='nametag'>
          <div class='player_name' data-bind='text: player() ? player().name : ""'></div>
        </div>
      </div>
    </div>
  </div>
</html>